<h2>Student Registration</h2>
<hr>
<div class="grid-table">
  <div class="thead">
    <div class="tr">
      <div class="td">Student Name</div>
      <div class="td">Register Name</div>
      <div class="td">Department</div>
      <div class="td">
        <button class="btn btn-outline-success" (click)="addStudentsForm()"><i class="fa fa-plus fa-lg mr-1"></i>New Account</button>
      </div>
    </div>
  </div>
  <div class="tbody">
    <form class="tr" [formGroup]="fg" *ngFor="let fg of stdudentForms.controls; let i=index;" (submit)="recordSubmit(fg)">
      <div class="td">
        <input class="form-control" formControlName="name">
      </div>
      <div class="td">
        <input class="form-control" formControlName="regNo">
      </div>
      <div class="td">
        <select class="form-control" formControlName="departmentId">
          <option value="0">Select</option>
          <option *ngFor="let item of deptLists" value="{{item.id}}">{{item.name}}</option>
      </select>
      </div>
      <div class="td">
        <button type="submit" class="btn" [disabled]="fg.invalid"
            [ngClass]="(fg.get('id').value==0)?'btn-success':'btn-outline-dark'"><i
                class="fa fa-save fa-lg"></i>
            {{fg.get('id').value==0?'Submit':'Update'}}
        </button>
        <button class="btn btn-light ml-1" (click)="onDelete(fg.get('id').value,i)">
            <i class="fa fa-trash-o fa-lg text-danger"></i>
        </button>
    </div>
    </form>
  </div>
</div>
